body {font-family: Arial, sans-serif;
}

.title {
  text-align: center;
  font-size: 70px;
  font-weight: 400;
  line-height: 78px;
  margin: 0;
  color: #515076;
}



.compound {
  font-weight: bold;
  font-size: 16px;
  line-height: 12px;
  color: #a5a3b9;

}

.description {
  font-family: Montserrat;
    font-weight: 400;
  
  font-size: 18px;
  line-height: 13px;
  font-style: regular;
  color: #a5a3b9;
  
}
.container {
  width: 1110px;
  height: 1,191px;
  top: 408px;
  left: 85px;
  border: 1px ;

}
.product-card {
  display: inline-block;
  width: 300px;
  height: 250px;
  top: 408px;
  left: 85px;
  min-height: 500px;
  margin: 15px;
  padding: 20px;
  vertical-align: top;
  text-align: left;
  border: 12px solid #f7f7fa;
  background-color: #f7f7fa;
  border-radius: 10px;
}
.product-card img {
  display: block;
  width: 290px;
  height: 245px;
  top: 433px;
  left: 110px;

}
product-card h2 {
  font-size: 20px;
  font-weight: 700;
  font-style: bold;
  line-height: 27px;
  margin: 10px 0;
  
  
}
product-card p {
  font-size: 50px;
  line-height: 20px;
  margin: 10px 0;
}
.price-value {
  float: right;
  font-weight: bold;

}
.text {
  display: center;
  font-size: 12px;
  font-weight: bold;
  color: #a5a3b9;
  margin-bottom: 10px;
}
.price {
  color: #888;

}
.price-label {
  color: #0c0c0c; 

}
.color {
  font-size: 14px;
  font-weight: 400;
  font-style: regular;
  line-height: 13px;
  color: #a5a3b9;

}